body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.bulbs-container {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:auto;
}

.item {
    text-align: center;
    margin:10px;
}

.border-dashed {
    border: 2px dashed rgb(209, 166, 209);
}

.input-container {
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    background-color: #f5f5f5;
}

.table-container {
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    background-color: #f5f5f5;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.row-header {
    font-weight: bold;
}

@media screen and (max-width:599px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .column {
        margin-top: 10px;
    }
}


@media screen and (min-width:600px) {
    .input-container {
        width: 600px;
    }
    .table-container {
        width: 600px;
    }
}